$dark-ocean: #3B8686;

h1 {
  text-align: center;
  color: $dark-ocean;
}

// Should have enough specificity to work
.container > div > .table > tbody > tr {
  td, th {
    vertical-align: middle;
    a {
      vertical-align: inherit;
    }
  }
}

.switch {
  cursor: pointer;
}
